/*------------------------------------------
  SETUP                   
/------------------------------------------*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 30px;
}

button {
  border: none;
  outline: none;
  background-color: #F78FA7;
  padding: 20px;
  border-radius: 4px;
}

button:hover {
  background-color: gray;
  transform:rotate(20deg);
}
